

.container {
  display: flex;
  flex-direction: row;
  width: 68%;
  justify-content: space-between;
  margin: 0 auto;
  
}

.container div{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color-container);
  border-radius: 5px;
  padding: 5px 15px;
  width: 30%;
  height: 120px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);

  &:hover {
    cursor: pointer;
    background-color: var(--hvr-color-container);
  }

}

.container span{
white-space: pre;
font-weight: 400;
font-style: normal;
font-family: "Poppins", "Poppins Placeholder", sans-serif;
color: var(--emerald_500, #10b981);
font-size: 30px;
letter-spacing: 0em;
line-height: 1.2;
font-feature-settings: normal;
}


.container .subtexto {
  font-weight: 300;
  font-family: "Poppins", "Poppins Placeholder", sans-serif;
  color: var(--gray_50, #6b7280);
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 1.2;

  
  
}

.container p {
  display: flex;
  flex-grow: 1;
  margin: 0;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 400;
  font-family: "Poppins", "Poppins Placeholder", sans-serif;
  color: var(--txt-color);
  font-size: 15px;
  letter-spacing: 0.15em;
  line-height: 1.2;
  height: min-content;
  justify-content: space-between;
  
  
}




/*box-sizing: border-box;
flex: 1;
width: 1px;
height: 96px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 8px;
background-color: #09090b;
overflow: hidden;
align-content: center;
flex-wrap: nowrap;
gap: 8px;
position: absolute;
border-radius: 8px;*/
