@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
}

header {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1d; /* fundo preto/cinza escuro */
  width: 68%;
  margin: 50px auto;
  position: relative;
  align-content: center;

}

button {
  background-color: #22c55e;
  border: none;
  border-radius: 8px;
  padding: 5px;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  background-color: #1a1a1d;
  font-family: Arial, Helvetica, sans-serif;
}



