@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
}

:root{
  --bg-color: #1a1a1d;
  --bt-mode-color: #fff;
}

.light{
  --bg-color: #fff;
  --bt-mode-color: #1a1a1d;
}

header {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);/* fundo preto/cinza escuro */
  width: 68%;
  margin: 15px auto;
  position: relative;
  align-content: center;

}

button {
  background-color: #22c55e;
  border: none;
  border-radius: 8px;
  padding: 5px;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  background-color: var(--bg-color);;
  font-family: Arial, Helvetica, sans-serif;
}



.mode{
  background-color: var(--bt-mode-color);
}