.container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 68%;
  justify-content: space-between;
  margin: 0 auto;
}

.bloco{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin: -50px auto;

}
.analise{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #09090b;
  border-radius: 5px;
  padding: 5px 15px;
  width: 68%;
  height: 300px;
  box-sizing: border-box;
  margin: 60px 0px;

}

.titulo{
    display: flex;
    color: var(--gray_300, #d1d5db);
    background-color: #1A1A1D;
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    font-feature-settings: normal;
    justify-content: space-between;
    margin: 50px 300px 0px 0px;
    font-family: "Poppins", "Poppins Placeholder", sans-serif;
}

.categoria{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #09090b;
  border-radius: 5px;
  padding: 5px 15px;
  width: 30%;
  height: 300px;
  box-sizing: border-box;
  margin: 60px 0px;

}