.container {
  display: flex;
  flex-direction: column;
  width: 68%;
  justify-content: space-between;
  margin: 0px auto;
}

.bloco{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin: -50px auto;

}
.analise{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color-container);
  border-radius: 5px;
  padding: 5px 15px;
  width: 68%;
  height: 300px;
  box-sizing: border-box;
  margin: 60px 0px;
  border: 1px solid var(--border-color)

}

.titulo{
    display: flex;
    color: var(--txt-color);
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    font-feature-settings: normal;
    justify-content: space-between;
    margin: 50px 300px 0px 0px;
    font-family: "Poppins", "Poppins Placeholder", sans-serif;
}

.categoria{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color-container);
  border-radius: 5px;
  padding: 5px 15px;
  width: 30%;
  max-height: 300px;
  box-sizing: border-box;
  margin: 60px 0px;
  overflow-y: auto; /*barra de rolagem*/
  padding-right: 0px;
  border: 1px solid var(--border-color)
}

/* Estilo para a barra de rolagem*/
.categoria::-webkit-scrollbar {
  width: 0px;
  background: #09090b;
}


.categoriesList {
  display: flex;
  flex-direction: column; /* Empilha os itens verticalmente */
  gap: 20px; /* Espaçamento entre os itens da categoria */
}

.categoryItem {
  display: flex;
  align-items: center; /* Alinha verticalmente os itens */
  padding: 10px 0px;
  justify-content: space-between;
  flex: 1; /* Ocupa um espaço menor */
  font-size: 0.95em;
  color: var(--txt-color); /* Cor mais suave */
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-family: "Poppins", "Poppins Placeholder", sans-serif;
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 1.2;
  font-feature-settings: normal;
  
}

.categoryIcon {
  font-size: 1.1em; /* Tamanho do ícone */
  flex-shrink: 0; /* Impede que o ícone encolha */
  width: 0px; /* Largura fixa para o ícone para alinhamento */
  text-align: center;
}

.categoryName {
  flex: 3; /* Permite que o nome ocupe mais espaço */
  white-space: nowrap; /* Impede quebra de linha */
  overflow: hidden; /* Esconde texto que ultrapassa */
  text-overflow: ellipsis; /* Adiciona "..." */
}

.categoryCount {
  flex: 1; /* Ocupa um espaço menor */
  text-align: center;
  white-space: nowrap;
}

.categoryValue {
  width: 150px;
  height: auto;
}
